* {
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */

}


body {
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    
    background-color: #444a99;

    background-image: 
    linear-gradient(0deg, transparent 9%, 
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
    linear-gradient(90deg, transparent 9%, 
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);
    
    height:100%;
  background-size:50px 50px;
}

.grid-container {
    display: grid;
    grid-template-areas: 
      'topleft topleft nav nav nav topright' 
      'left middle middle middle middle middle';
    grid-column-gap: 10px;
    
  } 

.nav {
    grid-area: nav;
    font-size: auto;
    background-color: #334088;
    padding-bottom: 10px;
    color: whitesmoke;
}

.navContainer {
    grid-area: topright;
    list-style-type: none;
    background-color: #1e33a7;
    color: whitesmoke;
}

.nav-links,
.titleContainer {
    text-decoration: none;
}

.navContainer li {
    text-align: center;
    /* margin: 15px auto; */
    background-color: #001484;
}

.titleContainer {
    grid-area: topleft; 
    display: inline-block;
    font-size: 22px;
    /* margin-top: 10px;
    margin-left: 20px; */
}

.nav-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

/* @media screen and (min-width: 200px) {
    .nav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .navContainer {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navContainer li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .titleContainer {
        margin-top: 0;
    }

    .nav-toggle {
        display: none;
    }

    .titleContainer:hover,
    .nav-links:hover {
        color: lightskyblue
    }
} */
  

.leftColumn-Container,
.middleColumn-Container,
.rightColumn-Container {
  padding: 10px;
  height: 100vh;
}

/* Style the left column */
.leftColumn-Container {
  grid-area: left;
  /* background-color: #444dc5; */
  background-color: hsl(236, 20%, 70%);

  color: whitesmoke;
  text-align: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.5) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  
}

/* Style the middle column */
.middleColumn-Container {
  grid-area: middle;
  text-align: center;
  /* background-color: #0f2083; */
  background-color: #8083b3 ;
  ;

  color: whitesmoke;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.5) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

/* Style the right column */
.rightColumn-Container {
  grid-area: right;
  /* grid-area: rightColumn-Container; */
  background-color: #001484;
  text-align: center;
}
/* #bulb-drag {
    position: absolute;
} */